@use "./_partials/fonts" as *;

body {
    font-family: "Avenir";
    margin: 0;
}

nav {
    background-color: #393939;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 24px;
}

.bandsite__logo {
    height: 20px;
    width: 120px;
    padding-bottom: 16px;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin: 0;
    font-size: 14px;
}

.nav__list__item {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.nav__anchor {
    text-decoration: none;
    color: white;
}

.nav__list__item--active {
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    font-weight: 700;
}

.nav__anchor--inactive {
    color: #E1E1E1;
}

/* Main */
.hero {
    background: url(../Assets/Images/hero-bio.jpg);
    aspect-ratio: 16/9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero--overlay {
    aspect-ratio: 16/9;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
}


.hero__title {
    margin-block-start: 0;
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: 600;

}

.section__title {
    font-weight: 600;
    padding-top: 24px;
    margin-block-start: 0;
}



/* About Section */
.about {
    padding: 0 1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
    padding-bottom: 16px;
}

.about__subheader {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-block-end: 0.5rem;
    margin-block-start: 0;
}

.about__subheader--padding {
    padding-top: 24px;
}

.about__body {
    font-size: 14px;
    line-height: 18px;

}

// Photos Section
.photos {
    background-color: #FAFAFA;
    padding: 0 1rem;
}


// Footer Section
.footer {
    background-color:#323232;
    padding: 0 1rem;
}

.section__title--white {
    color: white;
}

.footer__socials {
  padding-right: 24px;
}

.logo--hidden {
    display: none;
}

.footer__subheader {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding-top: 16px;
}

.footer__body {
    color:white;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    margin-block-start: 0.8rem;
}

.bandsite__logo--padding {
    padding-top: 60px;
    padding-bottom: 0;
}

.footer__label {
    color: white;
    font-size: 10px;
    padding-bottom: 16px;
    line-height: 20px;
}