@use "./_partials/fonts" as *;
@use "./_partials/mixins" as *;

body {
  font-family: "Avenir";
  margin: 0;
}

nav {
  background-color: #393939;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.5rem;

  @include tablet {
    flex-direction: row;
    padding-left: 2.25rem;
    padding-top: 1.9rem;
    box-sizing: border-box;
  }

  @include desktop {
    padding-left: 7.5rem;
    padding-top: 2.25rem;
    padding-left: 6rem;
  }
}

.bandsite__logo {
  height: 1.25rem;
  width: 7.5rem;
  padding-bottom: 1rem;

  @include tablet {
    padding-right: 3.75rem;
    padding-bottom: 1.9rem;
  }
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  margin: 0;
  font-size: 14px;
  list-style-type: none;

  @include tablet {
    justify-content: flex-start;
  }
}

.nav__list-item {
  width: 100%;
  text-align: center;

  @include tablet {
    width: 12%;
  }
}

.nav__anchor {
  text-decoration: none;
  color: white;
}

.nav__list-item--active {
  border-bottom: 4px solid white;
  padding-bottom: 0.625rem;
  font-weight: 600;

  @include tablet {
    padding-bottom: 1.9rem;
    width: 4.4rem;
  }
}

.nav__anchor--inactive {
  color: #e1e1e1;

  @include tablet {
    padding-left: 2.75rem;
  }

  @include desktop {
    padding-left: 0;
  }
}

/* Main */
.hero {
  background: url(../Assets/Images/hero-bio.jpg);
  aspect-ratio: 16/9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero--overlay {
  aspect-ratio: 16/9;
  background-color: #32323250;
  display: flex;
  align-items: center;
}

.hero__title {
  margin-block-start: 0;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;

  @include tablet {
    font-size: 3.75rem;
    padding-left: 2.25rem;
  }

  @include desktop {
    padding-left: 7.5rem;
  }
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.5rem;
  margin-block-start: 0rem;

  @include tablet {
    font-size: 2.25rem;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-bottom: 2.25rem;
    padding-top: 0;
  }
}

/* About Section */
.section {
  padding: 0 1rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 3rem 7.5rem 2.25rem;
  }
}


.about__container {
  @include tablet {
    padding: 0 3.75rem;
  }

  @include desktop {
    padding: 0 5rem;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
  padding-bottom: 1rem;

  @include tablet {
    padding-bottom: 2.25rem;
  }
}

.about__subheader {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.375rem;
  margin-block-end: 0.5rem;
  margin-block-start: 0;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.about__subheader--resize {
  @include tablet {
    font-size: 1.13rem;
  }
}

.about__subheader--padding {
  padding-top: 1.5rem;
}

.container--flex {
  @include tablet {
    display: flex;
  }
}

.about__body {
  font-size: 14px;
  line-height: 1.13rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 1.5rem;
    margin-block-end: 0;
  }
}

.about__body--remove-padding {
  @include tablet {
    padding-right: 0;
  }
}

// Photos Section
.photos {
  background-color: #fafafa;
  padding: 0 1rem;

  @include tablet {
    padding: 3rem 2.25rem 0.375rem;
  }

  @include desktop {
    padding: 3rem 7.5rem 1rem;
  }
}

.photos-container--flex {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.image--flex {
  @include tablet {
    width: 31%;
    padding-bottom: 1.875rem;
  }

  @include desktop {
    width: 32%;
    padding-bottom: 1.25rem;
  }
}

// Comment Section
// Form box
.comment__container--flex {
  display: flex;
  flex-direction: column;
}

.comment__new-comment {
  display: flex;
  justify-content: space-around;

  @include tablet {
    justify-content: space-evenly;
  }

  @include desktop {
    width: 50vw;
    position: relative;
    left: 20%;
    justify-content: center;
}
}

.comment__icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: left;
  position: relative;
  top: 16px;

  @include tablet {
    height: 50px;
    width: 50px;
    top: 24px;
    right: -16px;
  }
  @include desktop {
    margin-right: 32px;
  }
}

.form__field {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 4px;
  color: #AFAFAF;
  font-size: 12px;
  font-weight: 600;

  @include tablet {
    font-size: 14px;
  }
}

.form__field--margin {
  margin-block-start: 1rem;
}

.input__field {
  border-radius: 4px;
  min-width: 70vw;
  height: 36px;
  padding: 12px;
  padding-block: 0;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  outline: none;

  @include tablet {
    padding: 16px;
  }

  @include desktop {
    min-width: 32vw;
  }
}

.input__field:focus {
  border: 1px solid #323232;
}

::placeholder {
  color: black;
  font-size: 16px;
}

.input__field--height {
  height: 96px;
  font-family: "Avenir";
  margin-bottom: 1rem;
  padding: 12px;

  @include tablet {
    padding-top: 16px;
    padding-left: 16px;
  }

  @include desktop {
    min-width: 32vw;
  }
}

.comment__button {
  background-color: #323232;
  color: white;
  display: flex;
  min-width: 100%;
  justify-content: center;
  padding: 16px;
  border-radius: 4px;
  border-style: none;
  font-size: 18px;

  @include tablet {
    min-width: 30%;
    position: relative;
    left: 70%;
  }

  @include desktop {
    min-width: 40%;
    left: 60%;
  }
}

// Static Comments
.comment__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  width: 90vw;

  @include tablet {
    width: 86.5vw;
  }

  @include desktop {
    width: 42vw;
    position: relative;
    left: 23.5%;
}
}

.comment__item--border {
  border-top: 1px solid #E1E1E1;
}

.comment__item--border::after {
  border-top: 1px solid #e1e1e1;
  position: absolute;
  bottom: 25%;
  left: 0;
  height: 50%;
  width: 1px;
}

.comment__item {
  border-bottom: 1px solid #E1E1E1;
  padding-top: 16px;

  @include tablet {
    padding-top: 24px;
  }
  }

.comment__parent {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.comment__avatar {
  background-color: #E1E1E1;
  position: relative;
  right: -4%;

  @include tablet {
    right: -7%;
    top: -4px;
  }

  @include desktop {
    right: -5%;
  }
}


.comment__container {
  display: flex;
  justify-content: space-between;
  width: 86%;
}

.comment__details--bold {
  font-weight: 600;
  margin-left: 1.5rem;

  @include tablet {
    margin-left: 1rem;
  }
}

.comment__details--color{
  color: #AFAFAF;
}

.comment__details--position {
  position: relative;
  left: 14%;
  top: -.5rem;
  margin-block-start: 0;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  margin-left: 1.5rem;

  @include tablet {
    margin-left: 1rem;
    line-height: 24px;
  }
}



// Footer Section
.footer {
  background-color: #323232;
  padding: 0 1rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 3rem 7.5rem 2.25rem;
  }
}

.footer__container {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__container--max-width {
  @include tablet {
    width: 43.75rem;
  }
}

.footer__container--flex {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 23.7rem;
  }
}

.section__title--white {
  color: white;
  margin-block-start: 0;
}

.footer__socials--flex {
  @include tablet {
    display: flex;
    align-items: end;
    padding-bottom: 2.75rem;
  }
}
.footer__socials {
  padding-right: 1.5rem;
}

.logo--hidden {
  display: none;

  @include tablet {
    display: flex;
    padding-bottom: 2.25rem;
  }
}

.footer__subheader {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.125rem;
  padding-top: 1rem;
  margin-block-start: 0.5rem;

  @include tablet {
    padding-top: 0;
    line-height: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 1.5rem;
  }
}

.footer__body {
  color: white;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.125rem;
  margin-block-start: 0.8rem;

  @include tablet {
    padding-top: 0;
    line-height: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 1.5rem;
  }
}

.bandsite__logo--padding {
  padding-top: 3.75rem;
  padding-bottom: 0;

  @include tablet {
    display: none;
  }
}

.footer__label {
  color: white;
  font-size: 10px;
  padding-bottom: 1rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 14px;
    padding: 2.25rem 0 0;
    margin-block-end: 0;
  }
}
