@use "./_partials/fonts" as *;
@use "./_partials/mixins" as *;

body {
    font-family: "Avenir";
    margin: 0;
}

nav {
    background-color: #393939;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 24px;

    @include tablet {
        flex-direction: row;
        padding-left: 36px;
        padding-top: 30px;
        box-sizing: border-box;
    }

    @include desktop {
        padding-left: 120px;
        padding-top: 36px;
    }
}

.bandsite__logo {
    height: 20px;
    width: 120px;
    padding-bottom: 16px;

    @include tablet {
        padding-right: 60px;
        padding-bottom: 30px;
    }
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin: 0;
    font-size: 14px;

    @include tablet {
        justify-content: flex-start;
    }
}

.nav__list__item {
    list-style-type: none;
    width: 100%;
    text-align: center;

    @include tablet {
        width: 12%;
    }
}

.nav__anchor {
    text-decoration: none;
    color: white;
}

.nav__list__item--active {
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    font-weight: 600;

    @include tablet {
        // border-bottom: 2px solid white;
        padding-bottom: 30px;
        width: 70px;
    }

    @include desktop {
        // width: 70px;
    }
}

.nav__anchor--inactive {
    color: #E1E1E1;

    @include tablet {
        padding-left: 44px;
    }

    @include desktop {
        padding-left: 0;
    }
}

/* Main */
.hero {
    background: url(../Assets/Images/hero-bio.jpg);
    aspect-ratio: 16/9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero--overlay {
    aspect-ratio: 16/9;
    background-color: #32323250;
    display: flex;
    align-items: center;
}


.hero__title {
    margin-block-start: 0;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: 600;

    @include tablet {
        font-size: 60px;
        padding-left: 36px;
    }

    @include desktop {
        padding-left: 120px;
    }
}

.section__title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 24px;
    margin-block-start: 0.5rem;


    @include tablet {
        font-size: 36px;
        margin-block-end: 0;
        margin-block-start: 0;
        padding-bottom: 36px;
        padding-top: 0;
    }

}



/* About Section */
.about {
    padding: 0 1rem;

    @include tablet {
        padding: 48px 36px 36px;
    }

    @include desktop {
        padding: 48px 120px 36px;
    }
}

.about__container {
    @include tablet {
        padding: 0 60px;
    }

    @include desktop {
        padding: 0 80px
    }
}

.image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
    padding-bottom: 16px;

    @include tablet {
        padding-bottom: 36px;
    }
}

.about__subheader {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-block-end: 0.5rem;
    margin-block-start: 0;

    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

.about__subheader--resize {
    @include tablet {
        font-size: 18px;
    }
}

.about__subheader--padding {
    padding-top: 24px;
}

.container--flex {
    @include tablet {
        display: flex;
    }
}

.about__body {
    font-size: 14px;
    line-height: 18px;

    @include tablet {
        font-size: 16px;
        line-height: 24px;
        padding-right: 24px;
        margin-block-end: 0;
    }

}

// Photos Section
.photos {
    background-color: #FAFAFA;
    padding: 0 1rem;

    @include tablet {
        padding: 48px 36px 6px;
    }

    @include desktop {
        padding: 48px 120px 16px;
    }
}

.photo-container--flex {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.image--flex {
    @include tablet {
        width: 31%;
        padding-bottom: 30px;
    }

    @include desktop {
        width: 32%;
        padding-bottom: 20px;
    }
}


// Footer Section
.footer {
    background-color:#323232;
    padding: 0 1rem;

    @include tablet {
        padding: 48px 36px 36px;
    }

    @include desktop {
        padding: 48px 120px 36px;
    }
}

.footer__container {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.footer__container--max-width {
    @include tablet {
        width: 700px;
    }
}

.footer__container--flex {
    @include tablet {
        display: flex;
        justify-content: space-between;
        width: 23.7rem;
        
    }
}

.section__title--white {
    color: white;
    margin-block-start: 0;
}

.footer__container__socials--flex {
    @include tablet {
        display: flex;
        align-items: end;
        padding-bottom: 44px;
    }
}
.footer__socials {
  padding-right: 24px;
}

.logo--hidden {
    display: none;

    @include tablet {
        display: flex;
        padding-bottom: 36px;
    }
}

.footer__subheader {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding-top: 16px;
    margin-block-start: 0.5rem;

    @include tablet {
        padding-top: 0;
        line-height: 20px;
        margin-block-start: 0;
        margin-block-end: 1.5rem;
    }
}

.footer__body {
    color:white;
    font-size: 14px;
    text-decoration: none;
    line-height: 18px;
    margin-block-start: 0.8rem;

    @include tablet {
        padding-top: 0;
        line-height: 20px;
        margin-block-start: 0;
        margin-block-end: 1.5rem;
    }
}

.bandsite__logo--padding {
    padding-top: 60px;
    padding-bottom: 0;

    @include tablet {
        display: none;
    }
}

.footer__label {
    color: white;
    font-size: 10px;
    padding-bottom: 16px;
    line-height: 20px;

    @include tablet {
        font-size: 14px;
        padding: 36px 0 0;
        margin-block-end: 0;
    }
}
